/* -----------------DOCUMENT----------------- */
body{
    margin: 0;
    background-color: lightgrey
}

/* -----------------PANTALLAS----------------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;    
  }

  #game-box{
    position: relative;
    left: 185px;
    top: 408px;
    height: 496px;
    width: 490px;        
  }

#splash-screen{
  background-color: lightgrey;
    position: relative;
}

/* -----------------BUTTONS----------------- */

#start-button {
    
    width: 250px;
    height: 100px;
    border: none;
    position:relative;
    top:-200px;
    background: transparent;
    transition: transform 0.2s ease-in;  
    }

  #start-button img {
    transform: scale(0.9);
    }
  
  #start-button:hover img {
    transform: scale(1); 
    }


/* -----------------DISPLAY----------------- */
#game-screen, #gameover-screen{
display: none;
}

#game-screen{

  background-image: url("imagenes/Gamescreen.jpg");
  overflow: hidden;
  height: 1126px;
  width: 1125px;
  margin:50px auto;
}

/* -----------------ITEMS----------------- */
#imagen{
  position: relative;
  z-index: -1;
}

#score{
  

  position: relative;
  font-size: 50px;
  left: 970px;
  bottom: -260px;
  color:white;
}

#timer{
  
  position:relative;
  font-size: 50px;
  bottom: -90px;
  left: 970px;
  color:rgb(255, 255, 255)
}







